/*电脑端*/
.left_container {
  position: relative;
  width: 3.5rem;
  border-radius: 8px 0 0 8px;
  position: sticky;
  width: 3rem;
  z-index: 9;
  height: 100vh;
  top: 0;
}

.conter_top .top_info {
  color: var(--Color_A);
}

.conter_top .top_info p {
  color: rgb(159, 159, 159);
}

.right_container {
  position: relative;
  width: 20rem;
  z-index: 9;
  height: 100%;
  top: 0;
  position: sticky;
  border-radius: 0 8px 8px 0;
}

.top_info p {
  font-size: 12px;
}

.top_siteUrl {
  padding: 5px 8px;
  background: rgb(var(--public_A) / 15%);
  color: var(--Color_A);
}

.top_siteUrl span {
  font-size: 12px;
}

.conter_category .conter_containers {
  margin-top: 50px;
  margin-bottom: 10px;
}

.conter_category .conter_containers span.text {
  color: rgb(159, 159, 159);
}

.conter_category .conter_containers span.info {
  padding: 3px 5px;
  background: rgb(var(--public_A) / 15%);
  color: rgb(var(--public_A));
  margin: 0 8px;
  border-radius: 3px;
  font-size: 12px;
}

.conter_category #nav_menu {
  background: rgb(var(--public_A) / 15%);
  color: rgb(var(--public_A));
  border-radius: 3px;
}

.conter_category #nav_menu li {
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 12px;
}

.conter_category #nav_menu li a {
  color: rgb(var(--public_A));
}

.conter_category #nav_menu li.current {
  color: #fff;
  background: rgb(var(--public_A) / 1);
}

.conter_category #nav_menu li.current a {
  color: #fff;
}

.footer_left a svg {
  padding: 5px;
  width: 34px;
  height: 34px;
}

.footer_left a svg:hover {
  color: rgb(var(--public_A));
  background: rgb(var(--public_A) / 15%);
  border-radius: 5px;
}

#nav-menu a svg {
  padding: 5px;
  width: 34px;
  height: 34px;
}

#nav-menu a svg:hover {
  color: rgb(var(--public_A));
  background: rgb(var(--public_A) / 15%);
  border-radius: 5px;
}

#nav-menu a#current svg {
  color: rgb(var(--public_A));
  background: rgb(var(--public_A) / 15%);
  border-radius: 5px;
}

.right_articles h6 {
  color: rgb(159, 159, 159);
  text-align: left;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

.right_articles svg {
  color: rgb(159, 159, 159);
  font-size: 0.75rem;
}

.right_articles p {
  color: rgb(159, 159, 159);
  font-size: 0.75rem;
}

.right_articles li {
  list-style: none;
  padding-bottom: 1rem;
}

.right_articles li a {
  text-decoration: none;
  color: var(--Color_A);
}

.Tabs_top {
  background: rgb(var(--public_A) / 15%);
  color: rgb(var(--public_A));
  border-radius: 3px;
}

.Tabs_top #nav_menu {
  background: rgb(var(--public_A) / 15%);
  color: rgb(var(--public_A));
  border-radius: 3px;
}

.Tabs_top #nav_menu li.Tabs_title {
  color: #fff;
  background: rgb(var(--public_A) / 1);
}

.Tabs_top #nav_menu li {
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 12px;
}

.right_Tabs span {
  color: var(--Color_A);
  font-size: 0.75rem;
}

.Tabs-center_title {
  color: var(--Color_A);
  font-size: 0.75rem;
}

.Tabs-center_title {
  margin-bottom: 10px;
}

.Tabs_About_svg {
  padding: 5px 0;
}

.Tabs_About_svg svg {
  margin-right: 5px;
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.Tabs_About_svg p {
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.Statistics svg {
  margin-right: 5px;
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.Statistics li {
  padding: 5px 0;
  list-style: none;
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.Statistics li span {
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.Random_aside__item h6 {
  font-size: 0.75rem;
  color: var(--Color_A);
  padding: 1.5rem 0;
}

.Random_aside__item ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.Random_aside__item ul li .image a {
  width: 50px;
  height: 50px;
  display: flex;
}

.Random_aside__item ul li .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.Random_aside__item ul li .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-left: 8px;
}

.Random_aside__item ul li .title {
  font-size: 14px;
  margin-bottom: 3px;
  color: var(--Color_A);
}

.Random_aside__item ul li .title a {
  text-decoration: none;
  color: var(--Color_A);
}

.Random_aside__item ul li .meta {
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.reply_aside__item ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.reply_aside__item ul li .left a {
  width: 42px;
  height: 42px;
  display: flex;
}

.reply_aside__item ul li .left a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.reply_aside__item ul li .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.reply_aside__item ul li .right a {
  line-height: 1;
  padding-bottom: 5px;
  color: rgb(159, 159, 159);
  text-decoration: none;
}

.reply_aside__item ul li .right .body {
  font-size: 13px;
  padding: 5px 7px;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: var(--Themes_C);
  color: rgb(159, 159, 159);
}

.reply_aside__item ul li .right .meta {
  font-size: 12px;
  position: absolute;
  right: 0;
  color: rgb(159, 159, 159);
}

.reply_aside__item h6 {
  font-size: 0.75rem;
  color: var(--Color_A);
  padding: 1.5rem 0;
}

.Info_aside__item h6 {
  font-size: 0.75rem;
  color: var(--Color_A);
  padding: 1.5rem 0;
}

.Info_aside__item li {
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
  padding: 5px 0;
}

.Info_aside__item li a {
  font-size: 0.75rem;
  color: rgb(159, 159, 159);
}

.header__slideout-count h6 {
  font-size: 0.75rem;
  color: var(--Color_A);
  padding: 1.5rem 0;
}

.right_container .img_title,
.post-content_title {
  color: var(--Color_A);
  font-size: 0.75rem;
  margin-bottom: 10px;
}